.aside {
  margin: 0 auto;
  padding-bottom: 32px;
  min-width: 280px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    background-color: $white;
    border-top: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    padding: 0;
    margin-bottom: 90px;
  }
}

.aside__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    margin-bottom: 146px;
  }
}

.aside__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  line-height: 18px;
  padding: 0 20px;
  padding-right: 21px;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
    margin-bottom: 85px;
  }
}

.aside__wrapper-price {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}

.aside__price {
  font-family: $font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: 167px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
  }
}

.aside__wrapper-compare {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 115px;
  }
}

.aside__picture {
  width: 320px;
  height: 100%;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 536;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.aside__wrapper-button {
  display: flex;
  justify-content: space-between;
  padding-left: 58px;
  padding-right: 49px;

  @media (min-width: $tablet-width) {
    padding-right: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-left: 90px;
  }
}

.aside__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
