.aside {
  margin: 0 auto;
  padding-bottom: 35px;
  min-width: 280px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0;
    background-color: $white;
    border-top: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    height: 656px;
    padding: 0;
    border: none;
  }
}

.aside__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.aside__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    margin-bottom: 146px;
  }
}

.aside__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  line-height: 18px;
  padding: 0 20px;
  padding-right: 21px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
    margin-bottom: 67px;
  }
}

.aside__wrapper-price {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}

.aside__price {
  font-family: $font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: 167px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
  }
}

.aside__wrapper-compare {
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 467px;
    background-color: $special_grey;
  }

  @media (min-width: $desktop-width) {
    margin-left: 135px;
    background-color: $white;
  }
}

.aside__picture {
  width: 320px;
  height: 100%;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: auto;
    height: 515px;
    left: 45px;
    top: 2950px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: auto;
    left: 680px;
    top: 1605px;
  }
}

.aside__wrapper-button {
  display: flex;
  justify-content: space-between;
  padding-left: 58px;
  padding-right: 49px;

  @media (min-width: $tablet-width) {
    width: 583px;
    padding-top: 365px;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 190px;
    padding-left: 70px;
  }
}

.aside__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: $special_grey;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    padding-bottom: 75px;
  }
}

.aside__range {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 11px;
    padding-right: 11px;
  }
}

.aside__input {
  width: 84px;

  @media (min-width: $tablet-width) {
    width: 428px;
  }
}
