.aside {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;
  width: 320px;
  background-color: $basic-grey;
}

.aside__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  padding-left: 20px;
}

.aside__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  line-height: 18px;
  padding: 0 21px;
  margin: 0;
  margin-bottom: 39px;
}

.aside__price {
  font-family: $font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;
}
