.benefits {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    padding-top: 777px;
  }
}

.benefits__list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}

.benefits__item {
  background: $basic-grey;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 21px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 708px;
    height: 372px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.benefits__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 22px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.benefits__wrapper-img {
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    margin: 0;
    position: absolute;
    left: 475px;
    top: 1040px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    position: static;
    margin-left: 52px;
    margin-top: 45px;
  }
}

.benefits__wrapper-img--pro {
  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    margin: 0;
    position: absolute;
    left: 477px;
    top: 1440px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    position: static;
    margin-left: 52px;
    margin-top: 45px;
  }
}

.benefits__img {
  padding-left: 7px;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
    padding-left: 30px;
    margin-top: -12px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    padding-left: 15px;
    padding-top: 5px;
  }
}

.benefits__img--pro {
  padding: 0;
  margin: 0;
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    margin-left: -38px;
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    padding-left: 20px;
    margin-top: 20px;
  }
}

.benefits__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 19px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-top: 75px;
    padding-left: 50px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 45px;
    padding: 0;
    text-align: left;
    width: 355px;
  }
}

.benefits__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  line-height: 18px;
  margin: 0 20px;
  margin-bottom: 18px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 377px;
    padding: 0;
    padding-left: 32px;
    margin-bottom: 50px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 465px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    margin-left: 50px;
  }
}

.benefits__text--pro {
  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 465px;
  }
}

.benefits__link {
  font-family: $font;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  padding-left: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-left: 52px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.benefits__arrow {
  height: 11px;
  margin-left: 9px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 19px;
    padding-bottom: 5px;
  }
}
