.benefits {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.benefits__list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
}

.benefits__item {
  background: $basic-grey;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 18px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.benefits__wrapper {
  display: grid;
  grid-template-columns: 67px 1fr;
  margin: 0;
  margin-bottom: 22px;
}

.benefits__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.benefits__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  padding-right: 33px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.benefits__link {
  font-family: $font;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  padding-left: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
