.catalog {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
    margin-bottom: 74px;
  }
}

.catalog__list {
  width: 280px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 139px;
    justify-content: center;
    min-width: 708px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 145px;
    width: 1220px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 140px 1fr;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin: 0;
    border: none;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
