.contacts__invitation {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-grey-1;
  margin: 0 auto;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    width: 170px;
  }
}

.contacts__text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: $dark-grey;
  margin: 0 auto;
  text-align: start;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: right;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    height: 80px;
  }
}

.contacts__map iframe {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
  }
}

.contacts__map-marker {
  position: relative;
  top: -225px;
  left: 127px;
  width: 65px;
  height: auto;

  @media (min-width: $tablet-width) {
    top: -257px;
    left: 320px;
    width: 125px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 2485px;
    left: 900px;
  }
}

.contacts {
  @media (max-width: $tablet-width) {
    background-color: $basic-grey;
  }
}

.contacts__map-marker--form {
  @media (min-width: $desktop-width) {
    top: 1830px;
  }
}

.contacts__map-marker--catalog {
  @media (min-width: $desktop-width) {
    top: 2110px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url("../img/bg-map-desktop@1x.png");
      background-repeat: no-repeat;
      background-color: $white;
    }
  }
}
