.contacts__invitation {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-grey-1;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    width: 170px;
  }
}

.contacts__text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: $dark-grey;
  margin: 0 auto;
  text-align: start;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: right;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    height: 80px;
  }
}

.contacts {
  @media (max-width: $tablet-width) {
    background-color: $basic-grey;
  }
}
