.copyright__name {
  width: 114px;
  margin: 0;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__name-link {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 10px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }
}

.copyright__link {
  padding-left: 10px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.copyright__logo-html {
  padding-top: 19px;
  margin-right: -7px;
  fill: $special-dark-grey;

  &:focus,
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}
