.features {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.features__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 38px;
  padding-left: 20px;
}

.features__item {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 20px;
  margin: 0;
}

.features__list {
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.features__description {
  font-family: "arial", sans-serif;
  line-height: 18px;
  color: $dark-grey;
  margin: 0;
  padding-left: 20px;
}

.features__img {
  background-color: $basic-green;
}
