.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__list a {
  color: $black;

  @media (min-width: $desktop-width) {
  color: $white;
  }
}

.main-nav__toggle {
  display: none;
}
