.main-nav {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__list a {
  color: $black;
}

.main-nav__toggle {
  display: none;
}
