.page-header {
  background-color: $white;
  color: $black;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.page-header__wrapper img {
  margin-bottom: 15px;
  padding-top: 10px;
  height: 38px;
  width: 190px;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 174px;
    margin-top: 25px;
    margin-bottom: 23px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    min-width: 202px;
    margin: 0;
    margin-top: 50px;
  }
}

.page-header__logo-name {
  padding-left: 55px;
  text-align: center;
}
