.page-footer {
  background-color: $white;

  @media (min-width: $desktop-width) {
    height: 550px;
  }
}

.page-footer__wrapper {
  width: 100%;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -200px;
    bottom: 0;
  }
}

.page-footer__wrapper-contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    top: -200px;
    bottom: 0;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  min-width: 280px;
  height: 85px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-top: 63px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 415px;
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 80px;
    padding-bottom: 55px;
    left: -325px;
    top: 300px;
  }
}

.page-footer__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px;
    padding-top: 8px;
  }
}

.page-footer__logo-img {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    padding-bottom: 0;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin: 0;
    border: none;
  }
}

.page-footer__social {
  width: 100%;
  padding-top: 21px;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 25px;
    border: none;
  }
}
