.page-header {
  background-color: $white;
  color: $black;
  min-width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid $special-grey;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page-header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    background-color: unset;
  }
}

.page-header__wrapper--form {
  height: 56px;
}

.page-header__wrapper img {
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  height: 38px;
  width: 190px;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 174px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    min-width: 202px;
    margin: 0;
    margin-top: 50px;
  }
}

.page-header__logo-name {
  padding-left: 55px;
  text-align: center;
}
