.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  width: 100%;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  min-width: 280px;
  height: 85px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-top: 65px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 415px;
    padding-top: 66px;
    padding-left: 75px;
    padding-right: 80px;
    padding-bottom: 55px;
    left: 110px;
    top: 2450px;
  }
}

.page-footer__contacts--form {
  @media (min-width: $desktop-width) {
    left: 110px;
    top: 1790px;
  }
}

.page-footer__contacts--catalog {
  @media (min-width: $desktop-width) {
    left: 110px;
    top: 2070px;
  }
}

.page-footer__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 708px;
    padding: 0 30px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 60px;
    padding-top: 22px;
  }
}

.page-footer__logo-img {
  margin-bottom: 52px;
  padding-top: 39px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (max-width: $mobile-width) {
    width: 280px;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 22px;
  }
}
