.page-header {
  background-color: $white;
  color: $black;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.page-header__wrapper {
  margin-bottom: 25px;
  text-decoration: none;
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 51px;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.page-header__wrapper--form {
  margin-bottom: 18px;
}

.page-header__logo-name {
  padding-left: 55px;
  text-align: center;
}
