.page-footer {
  background-color: $white;

  @media (min-width: $desktop-width) {
    height: 550px;
  }
}

.page-footer__wrapper {
  width: 100%;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -200px;
    bottom: 0;
  }
}

.page-footer__wrapper-contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    top: -200px;
    bottom: 0;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  min-width: 280px;
  height: 85px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-top: 63px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 415px;
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 80px;
    padding-bottom: 55px;
    left: -325px;
    top: 300px;
  }
}

.page-footer__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px;
    padding-top: 8px;
  }
}

.page-footer__logo-img {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    padding-bottom: 0;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin: 0;
    border: none;
  }
}

.page-footer__social {
  width: 100%;
  padding-top: 21px;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 25px;
    border: none;
  }
}


.page-footer__map {
  height: 362px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      display: flex;
      align-items: center;
      background-image: url("../img/bg-map-desktop@1x.png");
      background-repeat: no-repeat;
      background-color: $white;
    }
  }
}

.page-footer__google-map {
  border: none;
}

.page-footer__map iframe {
  box-sizing: border-box;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
  }
}

.page-footer__map-marker {
  position: relative;
  top: -225px;
  left: 127px;
  width: 65px;
  height: auto;

  @media (min-width: $tablet-width) {
    top: -255px;
    left: 50%;
    margin-left: -65px;
    width: 125px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -15px;
    left: -480px;
  }
}
