.product__name-link {
  font-family: $font;
  color: $dark-grey-2;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__table {
  display: flex;
  margin: 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.product__table-row {
  display: flex;
  justify-content: space-between;
  width: 142px;

  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.product__table-cell {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

.product__picture {
  width: 140px;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 252px;
  }
}

.product__name {
  width: 90px;
  margin-top: 20px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 174px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.product__picture-link {
  display: flex;
  justify-content: center;
  background-color: $white;
}

.product__button {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-bottom: 37px;
  }
}

.product__wrapper {
  @media (min-width: $desktop-width) {
    height: 173px;
    margin-bottom: 15px;
  }
}
