.product__name-link {
  font-family: $font;
  color: $dark-grey-2;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__table {
  display: flex;
  width: 142px;
  margin: 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 10px;
  }
}

.product__table-row {
  display: flex;
  justify-content: space-between;
  width: 142px;

  @media (min-width: $tablet-width) {
    width: 249px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
}

.product__table-cell {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
  @media (min-width: $desktop-width) {
    padding-right: 12px;
  }
}

.product__picture {
  width: auto;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-bottom: 80px;

       &--big {
      position: relative;
      top: -10px;
      left: -5px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: auto;
    margin-bottom: 100px;

    &--big {
      left: 0;
    }
  }
}

.product__name {
  width: 90px;
  margin-top: 20px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 174px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.product__picture-link {
  display: flex;
  justify-content: center;
  background-color: $white;
  padding-top: 15px;
  align-items: center;

  &--small {
    padding-top: 30px;
  }

  &--big {
    padding-top: 21px;
  }

  @media (min-width: $tablet-width) {
    height: 160px;
    padding: 0;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.product__button {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.product__wrapper {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    height: 173px;
    margin-bottom: 15px;
  }
}
