.program-form {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 70px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
    margin: 0 auto;
  }
}

.program-form__subtitle {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.program-form__fieldset {
  border: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.program-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program-form__list--user {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.program-form__label {
  font-family: $font;
  color: $dark-grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-right: 15px;
  text-transform: uppercase;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 17px;
  }
}

.program-form__label--user {
  padding-right: 11px;
  min-width: 50px;

  @media (min-width: $tablet-width) {
    padding-right: 18px;
  }
}

.program-form__text-input {
  font-family: $font;
  color: $dark-grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  height: 45px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 15px;
  border: 1px solid $special-grey;
  flex-grow: 1;
  box-sizing: border-box;
  outline: none;

  &:active,
  &:focus {
    border: 1px solid $dark-grey;
  }

  &:active + .program-form__icon-mail,
  &:active + .program-form__icon-phone,
  &:focus + .program-form__icon-mail,
  &:focus + .program-form__icon-phone {
    fill: $basic-green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding-left: 18px;
  }
}

.program-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: 65px;
  }
}

.program-form__list--programs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115px;
  margin: 0;
  margin-bottom: 14px;
  padding-top: 28px;
  padding-left: 19px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 135px;
    margin: 30px 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 0;
  }
}

.program-form__list-item {
  display: flex;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
  }
}

.program-form__list-item--programs {
  margin-bottom: 13px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding-left: 43px;
  }
}

.program-form__list-item--extra {
  padding-left: 17px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 0;
    width: 221px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}

.program-form__radio {
  & + .program-form__radio-label::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -8px;
    left: -43px;
    border: 1px solid $special-grey;
    border-radius: 50%;
    box-sizing: border-box;
  }

  & + .program-form__radio-label:focus::before,
  & + .program-form__radio-label:hover::before {
    border: 1px solid $special-grey;
  }

  &:checked + .program-form__radio-label::after {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 1px;
    left: -35px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    & + .program-form__radio-label::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -40px;
    }

    &:checked + .program-form__radio-label::after {
      width: 18px;
      height: 18px;
      top: 5px;
      left: -29px;
    }
  }
}

.program-form__radio-label {
  position: relative;
  font-family: $font;
  color: $dark-grey-2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-left: 25px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
}

.program-form__fieldset--info {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.program-form__fieldset--programs {
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 74px;
    margin-left: 0;
    border: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-bottom: 68px;
  }
}

.program-form__fieldset--extra {
  margin-bottom: 28px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: relative;
    top: -50px;
    height: 2px;
    margin: 0;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 100vw;
      top: -40px;
      left: 45%;
      margin-left: -50vw;
    }

    @media (min-width: $desktop-width) {
      left: 48%;
      top: -30px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.program-form__fieldset--user {
  margin-bottom: 16px;
  min-width: 300px;

  &::before {
    content: "";
    display: block;
    position: relative;
    top: -68px;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 100vw;
      top: 940px;
      left: 50%;
      margin-left: -50vw;
    }

    @media (min-width: $desktop-width) {
      top: 715px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.program-form__fieldset--comment {
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    top: -45px;
    margin: 0;
    left: 6%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 100vw;
      top: -87px;
      left: 50%;
      margin-left: -50vw;
    }

    @media (min-width: $desktop-width) {
      left: 53%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    padding: 0;
  }
}

.program-form__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  width: 205px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    min-width: 555px;
  }
}

.program-form__title--extra {
  width: 110px;
  margin-bottom: 37px;
  padding-right: 25px;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    min-width: 211px;
    margin-left: -40px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.program-form__title--user {
  margin-bottom: 30px;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 10px;
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    margin-bottom: 74px;
  }
}

.program-form__title--comment {
  margin-bottom: 30px;
  position: relative;
  background-color: $white;
  width: 145px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    min-width: 220px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.program-form__textarea {
  font-family: $font;
  color: $dark-grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 150px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 15px;
  text-align: left;
  border-color: $special-grey;
  box-sizing: border-box;
  outline: none;
  resize: vertical;

  @media (min-width: $tablet-width) {
    padding-left: 19px;
    padding-top: 10px;
    margin-bottom: 15px;
    min-height: 175px;
  }
}

.program-form__textarea::placeholder {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__checkbox {
  & + .program-form__checkbox-label::before {
    content: "";
    display: block;
    position: absolute;
    margin-top: -5px;
    width: 30px;
    height: 30px;
    left: 1px;
    border: 1px solid $special-grey;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 37px;
      left: -62px;
      width: 40px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      top: 40px;
      left: -65px;
    }
  }

  &:checked + .program-form__checkbox-label::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    left: 6px;
    margin-top: 3px;

    @media (min-width: $tablet-width) {
      left: 12px;
      margin-top: 7px;
    }

    @media (min-width: $desktop-width) {
      left: 12px;
      margin-top: 12px;
    }
  }
}

.program-form__checkbox-label {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 15px;
  }
}

.program-form__list--extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 157px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 125px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1220px;
    height: 40px;
    margin-bottom: 60px;
  }
}

.program-form__note {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 523px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 830px;
    margin-bottom: 65px;
  }
}

.program-form__note-text {
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-top: 15px;
  }
}

.program-form__button {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
    height: 52px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.program-form__icon-mail {
  position: relative;
  left: -34px;
  padding-top: 16px;
  fill: $dark-grey-2;

  @media (min-width: $tablet-width) {
    left: -38px;
    margin-right: -18px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    left: -33px;
    padding-top: 15px;
  }
}

.program-form__icon-phone {
  position: relative;
  left: -30px;
  padding-top: 13px;
  fill: $dark-grey-2;

  @media (min-width: $tablet-width) {
    left: -38px;
    margin-right: -18px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    left: -35px;
    padding-top: 15px;
  }
}
