.promo {
  color: $white;
  background-color: $basic-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 280px;
  height: 305px;
  margin: 0 auto;
  margin-bottom: 197px;
  padding: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 845px;
    padding: 0 30px;
    margin-bottom: 0;
    background-image: none;
    background-color: $white;

    @media (min-resolution: 2dppx) {
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 696px;
    position: absolute;
    top: -0px;
    padding: 0 110px;
    margin: 0;
    margin-bottom: 165px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: 720px 696px;
    background-position: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.promo__slide {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    color: $black;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 38px;
    margin-bottom: 40px;
    margin-left: 87px;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
    margin-left: 82px;
    padding-top: 110px;
  }
}

.promo__slogan {
  font-family: $font;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 49px;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    margin-left: 82px;
  }
}

.promo__picture {
  margin: 0 auto;
  margin-bottom: 3px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: auto;
    height: 609px;
    margin: 0;
    margin-top: -28px;
    padding: 0;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 330px;
    height: 499px;
    margin-top: -315px;
    text-align: center;
  }
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background: $basic_green;
  font-family: $font;
  line-height: 18px;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $basic-green-1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 244px;
    height: 54px;
    margin: 0;
    margin-left: 83px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
