.promo {
  color: $white;
  background-color: $basic-green;
  background-image: url("index-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    background-image: none;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 60px;
  }
}

.promo__title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: $font;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__picture {
  margin: 0 auto;
  padding: 0;
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background: $basic_green;
  font-family: $font;
  line-height: 18px;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 244px;
    height: 54px;
  }
}
