.related-products {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $white;
}

.related-products__title {
  color: $black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 28px;
  margin: 0;
  margin-bottom: 35px;
}
