.related-products {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 60px;
  }
}

.related-products__title {
  color: $black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 28px;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.related-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
