.related-products {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.related-products__title {
  color: $black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.related-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 288px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}
