.show-more {
  display: block;
  margin-top: 90px;

  @media (min-width: $tablet-width) {
    margin-top: 161px;
  }
}

.show-more__button {
  color: $dark-grey;
  background-color: $basic-grey;
  margin: 0 auto;
  margin-bottom: 40px;
}

.show-more__name {
  font-family: $font;
  color: $dark-grey-1;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 0 56px;
    margin-bottom: 23px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 39px;
    margin-bottom: 87px;
  }
}
