.show-more {
  display: block;
  margin-top: 79px;

  @media (min-width: $tablet-width) {
    padding-top: 161px;
    margin: 0;
    margin-top: 100px;
    border: 2px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.show-more__button {
  color: $dark-grey;
  background-color: $basic-grey;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.show-more__name {
  font-family: $font;
  color: $dark-grey-1;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 0 90px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 75px;
    margin: 0;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px;
  }
}
