.site-list {
  font-family: $font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 478px;
  }
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $special-grey;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 1;
    border-bottom: 2px solid $basic_green;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    padding-bottom: 8px;
  }
}
