.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 130px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 5px;
  }
}

.social__icon-vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
    margin-left: 5px;
  }
}

.social__icon-insta {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon-fb {
  width: 10px;
  height: 18px;
  margin-right: 9px;

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 27px;
    margin-right: 4px;
  }
}

.social__icon-fb,
.social__icon-insta,
.social__icon-vk {
  fill: $special-dark-grey;

  &:focus,
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
