.title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.title--catalog {
  padding-top: 25px;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
    margin-bottom: 165px;
    padding-top: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    margin-bottom: 165px;
  }
}

.title--form {
  margin-top: 25px;
  margin-bottom: 37px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    margin-bottom: 58px;
  }
}
