.title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 0;
  padding-bottom: 41px;
  width: 320px;
  border-bottom: 1px solid $special-grey;
}
