.title {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}
