.values {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.values__wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;


  @media (min-width: $tablet-width) {
    width: 366px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.values__item {
  width: 124px;
  height: 55px;
  border: 1px solid $border-grey;
  border-radius: 3px;
  padding-top: 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 164px;
    height: 72px;
  }
}

.values__item-value {
  display: grid;
  font-family: $font;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  justify-content: center;
  margin-bottom: 6px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 13px;
  }
}

.values__item-name {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  text-align: center;
  width: 77px;
  margin: 0;
  margin-left: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    margin-left: 16px;
    background-color: $white;
  }
}
