$basic-green: #68b738;
$black: #000000;
$dark-grey: #444444;
$dark-grey-1: #111111;
$dark-grey-2: #222222;
$basic-grey: #f2f2f2;
$special-grey: #ebebeb;
$white: #ffffff;

$font: "Oswald", "Arial", sans-serif;
